In [5]:
import pandas as pd


from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier

In [2]:
data = pd.read_csv('Titanic-Dataset.csv')

In [4]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
data.drop(['PassengerId','Name','Cabin','Ticket'], axis=1, inplace=True)

In [7]:
data.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
dtype: int64

In [8]:
mean_value = data['Age'].mean()
data['Age'].fillna(mean_value, inplace=True)

C:\Users\shivankar\AppData\Local\Temp\ipykernel_964\1818282168.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Age'].fillna(mean_value, inplace=True)

In [9]:
data.dropna(subset=['Embarked'], inplace=True)

In [10]:
data.isna().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [11]:
data.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [12]:
data = pd.get_dummies(data, columns=['Sex','Embarked'], drop_first=True)

In [13]:
data.dtypes

Survived        int64
Pclass          int64
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Sex_male         bool
Embarked_Q       bool
Embarked_S       bool
dtype: object

In [14]:
data['Embarked_Q'] = data['Embarked_Q'].astype(int)
data['Embarked_S'] = data['Embarked_S'].astype(int)
data['Sex_male'] = data['Embarked_S'].astype(int)

In [15]:
data.dtypes

Survived        int64
Pclass          int64
Age           float64
SibSp           int64
Parch           int64
Fare          float64
Sex_male        int32
Embarked_Q      int32
Embarked_S      int32
dtype: object

In [17]:
data.isna().sum()

Survived      0
Pclass        0
Age           0
SibSp         0
Parch         0
Fare          0
Sex_male      0
Embarked_Q    0
Embarked_S    0
dtype: int64

In [19]:
x = data.drop(['Survived'],axis=1)
y = data['Survived']

In [20]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [21]:
logistic_model = LogisticRegression()
logistic_model.fit(x_train, y_train)
logistic_y_pred = logistic_model.predict(x_test)
logistic_accuracy = accuracy_score(y_test, logistic_y_pred)

In [22]:
rf_model = RandomForestClassifier()
rf_model.fit(x_train, y_train)
rf_y_pred = rf_model.predict(x_test)
rf_accuracy = accuracy_score(y_test, rf_y_pred)

In [23]:
logistic_accuracy, rf_accuracy

(0.7134831460674157, 0.6741573033707865)

# Logistic Regression Accuracy: 0.7134831460674157
# Random Forest Accuracy: 0.6741573033707865

In [ ]:
rom sklearn.metrics import accuracy_score

# Assuming rf_y_pred are the predicted labels and y_test are the true labels
# Calculate the accuracy score
accuracy_train = accuracy_score(y_pred_train, y_train)
accuracy_test = accuracy_score(y_pred_test, y_test)

# Print the accuracy score
print("Accuracy Train Score:", accuracy_train)
print("Accuracy Test Score:", accuracy_test)