In [22]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier

In [2]:
df = pd.read_csv('creditcard.csv')

In [15]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [16]:
df.dtypes

Time      float64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class       int64
dtype: object

In [17]:
df['Class'].value_counts()

Class
0    284315
1       492
Name: count, dtype: int64

In [3]:
legit = df[df.Class == 0]
fraud = df[df.Class == 1]

In [4]:
sample_data = legit.sample(n=492)

In [5]:
new_dataset = pd.concat([sample_data,fraud],axis=0)

In [6]:
new_dataset['Class'].value_counts()

Class
0    492
1    492
Name: count, dtype: int64

In [19]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [20]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,92961.764228,-0.094204,0.077481,0.013555,-0.008251,-0.001161,0.069943,-0.000227,-0.041823,-0.056786,...,-0.031355,-0.062568,-0.030250,0.008411,-0.051009,0.016611,0.003893,-0.036217,0.016073,79.465224
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [7]:
X = new_dataset.drop(['Class'],axis=1)
y = new_dataset['Class']

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
model = LogisticRegression(max_iter=10000, solver='sag')
model.fit(X_train,y_train)

y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)

precision_train = precision_score(y_train, y_pred_train)
recall_train = recall_score(y_train, y_pred_train)
f1_train = f1_score(y_train, y_pred_train)

# Calculate precision, recall, and F1-score for test set
precision_test = precision_score(y_test, y_pred_test)
recall_test = recall_score(y_test, y_pred_test)
f1_test = f1_score(y_test, y_pred_test)

# Print the evaluation metrics
print("Evaluation Metrics on Training Set:")
print("Precision:", precision_train)
print("Recall:", recall_train)
print("F1-score:", f1_train)
print("\nEvaluation Metrics on Test Set:")
print("Precision:", precision_test)
print("Recall:", recall_test)
print("F1-score:", f1_test)

Evaluation Metrics on Training Set:
Precision: 0.7686567164179104
Recall: 0.5228426395939086
F1-score: 0.622356495468278

Evaluation Metrics on Test Set:
Precision: 0.8656716417910447
Recall: 0.5918367346938775
F1-score: 0.703030303030303

In [24]:
model = RandomForestClassifier()  

model.fit(X_train, y_train)


y_pred_train = model.predict(X_train)
y_pred_test = model.predict(X_test)


precision_train = precision_score(y_train, y_pred_train)
recall_train = recall_score(y_train, y_pred_train)
f1_train = f1_score(y_train, y_pred_train)

# Calculate precision, recall, and F1-score for test set
precision_test = precision_score(y_test, y_pred_test)
recall_test = recall_score(y_test, y_pred_test)
f1_test = f1_score(y_test, y_pred_test)

# Print the evaluation metrics
print("Evaluation Metrics on Training Set:")
print("Precision:", precision_train)
print("Recall:", recall_train)
print("F1-score:", f1_train)
print("\nEvaluation Metrics on Test Set:")
print("Precision:", precision_test)
print("Recall:", recall_test)
print("F1-score:", f1_test)

Evaluation Metrics on Training Set:
Precision: 1.0
Recall: 1.0
F1-score: 1.0

Evaluation Metrics on Test Set:
Precision: 1.0
Recall: 0.8877551020408163
F1-score: 0.9405405405405406